@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
}

@font-face {
  font-family: "Product Sans";
  src: url("/assets/fonts/Product Sans Regular.ttf");
  font-weight: 400;
}

body {
  font-family: "Product Sans", sans-serif;
}
